* {
    box-sizing: border-box 
}

body {
    background-color: #131720;
    font-family: Arial,sans-serif;
    color:white;
}

.topnav {
    overflow:hidden;
    background-color: #131720;
    padding:10px;
}

.topnav a {
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding:5px 14px;
    text-decoration:none;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 1000;
    border:solid none;
    width:15%;
    border-radius: 10px;
    background-color:#f3ce13;
}

.topnav .search-container {
    float:right;
}

form {
    background-color: #131720;
    width: 350px;
    height: 50px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    font: 16px system-ui;
    color: black;   
    height:100%;
    width: 90%;
    padding: 9px 9px;
    border-radius: 15px;
}

.thumbnail{
    height:350px;
    width:250px;
    border-radius: 19px;
}

.column {
    float:left;
    width:25%;
    padding:10px 10px;
}

.card {
    border-radius: 10px;
    padding:25px;
    text-align:center;
    background-color: #151f30;
    width:300px;
}